$theme-color:#665fc4;
$topnav-bg: #fcfbff;
$color-white:#ffffff;
$getStart-bg-color: #f6f5f7;
$color-black:#000000;
$col-border-grey: #cccccc;
$grey-text: #838383;
$right-gradient: #fc6076;
$left-gradient: #ff9a44;
$hippo-red: #f26b5c;
$hippo-green: #61bf7f;
$hippo-purple: #8d65ab;