<!DOCTYPE html>
<html>
{% include 'components/head.html' %}
<body>
<section class="base container-fluid">
    {% include 'components/topnav.html' %}
    {% include 'components/navigation.html' %}
    {% include 'components/herobanner.html' %}
    {% include 'components/clients.html' %}
    {% include 'components/referbenefit.html' %}
    {% include 'components/getstarted.html' %}
    {% include 'components/magicalpersonalization.html' %}
    {% include 'components/testimonal.html' %}
    {% include 'components/subscriptionplan.html' %}
    {% include 'components/freetrial.html' %}
    {% include 'components/footer.html' %}
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="https://use.fontawesome.com/4c2b0ade46.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>