<section id="article" class="article">
    <div class="container">
        <div class="row">
            <div class="col-md-10 article--wrapper">
                <h1>Headline - Lorem Ipsum</h1>
                <h4>Subtitle Loren ipsum</h4>
                <div class="col-md-6 article--leftcontent">
                    <article>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non nisi. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Vel facilisis
                        volutpat est velit egestas. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Augue eget arcu dictum varius duis at consectetur lorem. Congue nisi vitae suscipit tellus. Id donec ultrices tincidunt arcu non.
                        Nunc faucibus a pellentesque sit amet. Massa tincidunt dui ut ornare lectus sit amet. Nisl nisi scelerisque eu ultrices. Auctor eu augue ut lectus arcu. Ultrices vitae auctor eu augue ut lectus arcu. Tristique senectus et netus
                        et. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Vitae justo eget magna fermentum iaculis. Tortor condimentum lacinia quis vel eros donec ac odio. Venenatis a condimentum vitae sapien pellentesque habitant morbi
                        tristique. At auctor urna nunc id cursus metus. Lacus vel facilisis volutpat est velit. Semper quis lectus nulla at volutpat diam ut venenatis tellus. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin.
                        Id ornare arcu odio ut sem nulla pharetra. Mi proin sed libero enim sed faucibus turpis in. A diam maecenas sed enim ut sem. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.
                    </article>
                </div>
                <div class="col-md-6 article--rightcontent">
                    <article>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non nisi. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Vel facilisis
                        volutpat est velit egestas. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Augue eget arcu dictum varius duis at consectetur lorem. Congue nisi vitae suscipit tellus. Id donec ultrices tincidunt arcu non.
                        Nunc faucibus a pellentesque sit amet. Massa tincidunt dui ut ornare lectus sit amet. Nisl nisi scelerisque eu ultrices. Auctor eu augue ut lectus arcu. Ultrices vitae auctor eu augue ut lectus arcu. Tristique senectus et netus
                        et. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Vitae justo eget magna fermentum iaculis. Tortor condimentum lacinia quis vel eros donec ac odio. Venenatis a condimentum vitae sapien pellentesque habitant morbi
                        tristique. At auctor urna nunc id cursus metus. Lacus vel facilisis volutpat est velit. Semper quis lectus nulla at volutpat diam ut venenatis tellus. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin.
                        Id ornare arcu odio ut sem nulla pharetra. Mi proin sed libero enim sed faucibus turpis in. A diam maecenas sed enim ut sem. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.
                    </article>
                </div>
            </div>
            <footer>
                <img class="max-width" src="assets/img/headline-footer.png" />
            </footer>
        </div>
    </div>
</section>