<!--
Main Banner
==================================== -->

<section id="banner" class="banner">
    <div class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="col-md-4 banner--text">
                    <h1>Lorem ipsum proin gravi</h1>
                    <h3>Lorem ipsum. proin gravida nibh vel velit auctor aliquet. aenean sollicitudin, lorem</h3>
                </div>
                <img class="max-width" src="assets/img/banner.png" />
                <!--h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">Meet<span> Brandi</span>!</h2>
                <h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color">/creative</span> one page template.</h3>
                <p data-wow-duration="1000ms" class="wow slideInRight animated">We are a team of professionals</p-->
            </div>
        </div>
    </div>
</section>

<!--
End Main Banner
==================================== -->