<section id="form-sponsor" class="formsponsor">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding formsponsor--wrapper">
                <div class="col-md-6 form-div-wrapper no-padding">
                    <form class="form-wrapper" action="#">
                        <h2>Kontackt</h2>
                        <h3>formular</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Name*" name="name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Email*" name="email">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Nachrichi*" rows="4">

                            </textarea>
                        </div>
                        <button>ABSENDEN</button>
                    </form>
                </div>
                <div class="col-md-6 sponsor--wrapper no-padding">
                    <div class="col-md-6 sponsor--item">
                        <h2>Sponsor1<br>Logo</h2>
                    </div>
                    <div class="col-md-6 sponsor--item">
                        <h2>Sponsor2<br>Logo</h2>
                    </div>
                    <div class="col-md-6 sponsor--item">
                        <h2>Sponsor3<br>Logo</h2>
                    </div>
                    <div class="col-md-6 sponsor--item">
                        <h2>Sponsor4<br>Logo</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>