<section class="magicalWrapper">
    <div class="container-fluid">
        <h1 class="magicalWrapper__h1">The Magic of Personalization</h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-5 magicalWrapper__Content">
                <h6>Send Personalized videos</h6>
                <h1> Increase Response Rate up to 300%</h1>
                <p>Can you believe, <span>"Name"?</span> It's 300% and we bet you'll get that by Personalizing a single video with texts, logos, thumbnails and more to deliver a Personalized experience to thousands of recipients
                </p>
            </div>
            <div class="col-lg-7 magicalWrapper__Image">
                <img src="assets/img/magical1right.png" />
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-7 magicalWrapper__Image">
                <img src="assets/img/magical2left.png" />
            </div>
            <div class="col-lg-5 magicalWrapper__Content">
                <h6>Send Personalized videos</h6>
                <h1> Increase Response Rate up to 300%</h1>
                <p>Can you believe, <span>"Name"?</span> It's 300% and we bet you'll get that by Personalizing a single video with texts, logos, thumbnails and more to deliver a Personalized experience to thousands of recipients
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid magicalWrapperFinal">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 magicalWrapper__bgImage">
                <div class="col-lg-5 col-md-6 magicalWrapper__Content">
                    <h6>Send Personalized videos</h6>
                    <h1> Increase Response Rate up to 300%</h1>
                    <p>Can you believe, <span>"Name"?</span> It's 300% and we bet you'll get that by Personalizing a single video with texts, logos, thumbnails and more to deliver a Personalized experience to thousands of recipients
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>