<nav id="menu" class="navigation">
    <ul class="menu">
        <li class="logo">
            <a href="#">
                <img src="assets/img/logo.png">
            </a>
        </li>
        <li class="item active"><a href="#">personalize video</a>
        </li>
        <li class="item"><a href="#">features</a>
        </li>
        <li class="item"><a href="#">resources <span class="caret"></span></a>
        </li>
        <li class="item"><a href="#">solutions</a>
        </li>
        <li class="item"><a href="#">integrations</a>
        </li>
        <li class="item"><a href="#">pricing</a>
        </li>
        <li class="item button"><a href="#">start creating</a>
        </li>
        <li class="toggle"><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>