<!--
Main Banner
==================================== -->

<section id="news" class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 newsheadlines">
                <div class="col-md-6 newsheadlines--left newsitems">
                    <div class="news-content">
                        <span>

                                <img src="assets/img/calendar.png"/>

                                <h6>23 MAI 2014</h6>

                            </span>
                        <h3>News Headlines</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 newsheadlines--right newsitems">
                    <div class="news-content">
                        <span>

                                <img src="assets/img/calendar.png"/>

                                <h6>23 MAI 2014</h6>

                            </span>
                        <h3>News Headlines</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 news--geoloction">
                <div class="news--geo">
                    <div class="geo--content">
                        <h1>17 MAI</h1>
                        <h2>Headline beitrag 2014</h2>
                        <h3>Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 shipping">
                <img class="max-width" src="assets/img/shipping.png" />
            </div>
            <div class="col-sm-6 news--geoloction news--geoloction2 ">
                <div class="news--geo">
                    <div class="geo--content">
                        <h1>17 MAI</h1>
                        <h2>Headline beitrag 2014</h2>
                        <h3>Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-6 news--image">
                    <img class="max-width" src="assets/img/flag.png" />
                </div>
                <div class="col-sm-6 col-6 news--image right-item">
                    <img class="max-width" src="assets/img/flag-ship.png" />
                </div>
            </div>
        </div>
        <div class="row last-row">
            <div class="col-md-6 no-padding column-1">
                <img class="max-width" src="assets/img/blinder.png" />
                <div class="blinder-content">
                    <div class="content-wrapper">
                        <img src="assets/img/blinder-icon.png">
                        <h2>NEWS+</h2>
                        <h2>BLIDER</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-padding column-2">
                <div class="content-wrapper">
                    <img src="assets/img/calendar.png">
                    <h2>SEGELTEAM</h2>
                    <h2>TERMINE 2014</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
    End Main Banner
    ==================================== -->
