<section id="teams" class="teams">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding">
                <header>
                    <h1>UNSER TEAM</h1>
                    <h4>Subtitle von unserem team</h4>
                </header>
            </div>
        </div>
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-12 box-wrapper no-padding">
                    <div class="item-list">
                        <ul>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                            <li>
                                <img class="max-width" src="assets/img/team-member-1.png" />
                                <div class="user-details">
                                    <h2>Max Mustermann</h2>
                                    <p>A smooth sea never made a skilled sailor</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 no-padding">

            </div>
        </div>
    </div>
</section>