<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 testimonialWrapper">
            <h5>Testimonials</h5>
            <h1>"Name", We Are Loved By Our Customers!</h1>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="img-box">
                            <img src="/assets/img/testimonial-overview.png" alt="">
                        </div>
                        <div class="test-content-wrapper">
                            <p class="testimonial">" I’m absolutely thrilled at the potential that Hippo Video has for us.Hippo Video is helping us serve our customers better, in return our customers are seeing the value. Great work! "</p>
                            <p class="overview">Paula Wilson, CEO</p>
                            <p class="companyname">The Goulet Pen Company
                                <hr>
                            </p>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="img-box">
                            <img src="/assets/img/testimonial-overview.png" alt="">
                        </div>
                        <div class="test-content-wrapper">
                            <p class="testimonial">" I’m absolutely thrilled at the potential that Hippo Video has for us.Hippo Video is helping us serve our customers better, in return our customers are seeing the value. Great work! "</p>
                            <p class="overview">Paula Wilson, CEO</p>
                            <p class="companyname">The Goulet Pen Company
                                <hr>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>