<section class="clientWrapper">
    <div class="container">
        <h6>Loved by business</h6>
        <h1>Trusted by Over 500+ Businesses Around the world</h1>
        <div class="row">
            <div class="col col1"><img src="assets/img/chargebee.png"/></div>
            <div class="col col2"><img src="assets/img/pen.png"/></div>
            <div class="col col3"><img src="assets/img/cloudchoice.png"/></div>
            <div class="col col4"><img src="assets/img/tailwind.png"/></div>
            <div class="col col5"><img src="assets/img/york.png"/></div>
        </div>
    </div>
</section>