<div class="bannerWrapper">
    <div class="column bannerWrapper__left">
        <div class="bannerWrapper__leftContent col-md-12">
            <h5>personalized email campaigns</h5>
            <h1>Hey <span>"Walter White"</span> From Product Hunt</h1>
            <p>Don't just sell. truly connect with your prospects by sending personalized videos</p>
            <form>
                <input placeholder="Type your Name and get ready to be surprised" />
                <button>personalize</button>
            </form>
        </div>
    </div>
    <div class="column bannerWrapper__right">
        
    </div>
</div>