<section class="referWrapper">
        <div class="container">
            <h6>Refer and Benefit</h6>
            <h1>Refer Hippo Video and Get 600 Personalized Video Emails Credited to Your Account</h1>
            <div class="row">
                <div class="col column__red">
                    <img src="assets/img/1.png"/>
                    <h3>Sign up for Hippo Video</h3>
                    <ul>
                        <li>Sign up using business account only.</li>
                        <li>Add your Product Hunt referral code.</li>
                        <li>Get 100 video emails Credited to your account on sign up</li>
                    </ul>
                </div>
                <div class="col column__green">
                    <img src="assets/img/2.png"/>
                    <h3>Refer your business contacts /friends</h3>
                    <ul>
                        <li>Refer your contact to sign up for Hippo Video</li>
                        <li>You get additional 50 personalized video emails for every contact you refer</li>
                        <li>Refer up to a maximum of 10 contacts</li>
                    </ul>
                </div>
                <div class="col column__purple">
                    <img src="assets/img/3.png"/>
                    <h3>For Existing Users</h3>
                    <ul>
                        <li>Sign in with your business account and add the referral code to enjoy the benefits.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>