.clientWrapper{
    text-align: center;
    margin-top: 20px;
    h6{
        color: $hippo-red;
        text-transform: uppercase;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 13px;
        margin-bottom: 32px;
    }
    h1{
        color: $color-black;
        font-size: 36px;
        font-family: 'Lato', sans-serif;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 48px;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
}