footer{
    text-align: center;
    background: $color-black;
    height: 50px;
    p{
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        line-height: 50px;
        margin: 0
    }
}